@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

nav, body {
    font-family: 'Lato', sans-serif;
}

.navbar-brand {
    font-weight: 900;
}

.navbar-brand img {
    display: inline-block;
}
.navbar {
    z-index: 500;
}

body {
    padding-top: 50px;
    background-color: rgb(230, 230, 230);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.action-area a {
    margin: 5px;
}

.panel h2, h3 {
    margin-top: 10px;
}

.comparison {
    display: none;
}

.comparison .panel {
	 min-height: 200px;
}

.slide-tog {
    margin: 0 auto;
}


td .btn {
    margin: 3px;
}

.alert {
	display: none;
	position: fixed;
	bottom: 0px;
	left: 20px;
	right: 20px;
	z-index: 9999;
}

.search-box {
	padding: 0px;
}

a i {
	padding-right: 6px;
}

.centre {
	text-align: center;
}

.panel {
	position: relative;
}

.meter {
	position: absolute;
	top: 0px;
	height: 5px;
	width: 0%;
	transition: 0.5s all ease-in; 
}

h2, h3 {
	margin-top: 5px;
}

.comparisonItem {
	margin: 10px;
	float: left;
}
