
.sidebar {
	padding-top: 50px;
 	width: 250px;
	background-color: rgb(236, 236, 236);
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	transition: all 0.5s ;
	-webkit-transition: all 0.5s;
}

.sidebar ul {
	padding: 0px;
}

.sidebar li {
	list-style: none;
	padding: 5px;
	padding-left: 15px;
	border-bottom: 1px solid white;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
}

.sidebar li:HOVER {
	background-color: rgb(210, 215, 211);
	padding-left: 20px;
}

.sidebar li.active {
	background-color: rgb(108, 122, 137);
}

.sidebar li.active a {
	color: white;
}

.sidebar li a {
	font-size: 1.7em;
	text-decoration: none;	
}


.navbar {
	margin-bottom: 0px;
	z-index: 100;
}

#body {
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 250px;
	transition: all 0.5s ;
	-webkit-transition: all 0.5s;
}

@media screen and (max-width: 768px) {
	#body {
		margin-left: 0px;
	}
	
	.sidebar {
		margin-left: -250px;
	}
	
}