<!-- Cluster's page -->
<div class="main container">
    <h1>Clusters</h1>
    <!-- Top row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-repsonsive">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>IP Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cluster in clusters">
                                <td>{{cluster.name}}</td>
                                <td>{{cluster.ipAddress}}</td>
                                <!-- Option Links-->
                                <td>
                                    <a class="btn btn-primary" ng-href="#/cluster/{{cluster.id}}">Details</a>
                                    <a class="btn btn-danger delete" ng-href="" ng-click="deleteCluster($index, cluster)">Delete</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div><!--panel-body-->
            </div> <!--panel--> 
        </div> <!--col-md-12-->

    </div> <!-- row -->
</div>

<style>


</style>

<s
