<sidebar></sidebar>

<!-- Demo of Overview page with metrics -->
<div class="main container-fluid">
    <h1>Confiugure</h1>
    <!-- Top row -->

    <div class="row">
    
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                		<div class="row">
							<div class="col-md-12">
								 <h2>{{cluster.name}}</h2>
			                     <h2><small>{{cluster.ipAddress}}</small></h2>
			                     <h2><small>{{cluster.username}}</small></h2>
			                     			<div class="form-group">
    						<a ng-click="updateCluster(cluster)" class="btn btn-primary"><i class="fa fa-save"></i>  Update Cluster</a>
    					</div>  
							</div>
						</div>
					<div ng-form name="editClusterForm">
						<h3>General</h3>
						<div class="col-md-3">
							<div class="form-group">
								<label for="name">Name</label>
								 <input type="text" class="form-control" id="name" placeholder="Cluster" ng-model="cluster.name" required>
							</div>
	
							<div class="form-group">
								<label for="ipAddress">IP Address</label>
								 <input type="text" class="form-control" id="ipAddress" placeholder="127.0.0.1" ng-model="cluster.ipAddress" required>
							</div>
							
							<div class="form-group">
								<label for="username">Username</label>
								 <input type="text" class="form-control" id="username" placeholder="Graham" ng-model="cluster.username" required>
							</div>
						</div>
						
						<h3>DFSIO Options</h3>
						<div class="col-md-3">
						
							<div class="form-group">
								<label for="throughputLimit">Throughput Limit Mb</label>
								 <input type="number" class="form-control" id="throughputLimit" placeholder="100 Mb" ng-model="cluster.dfsioOptions.throughputLimit" required>
							</div>
	
							<div class="form-group">
								<label for="iOLimit">I/O Rate Limit</label>
								 <input type="number" class="form-control" id="iOLimit" placeholder="100 Mb/s" ng-model="cluster.dfsioOptions.ioLimit" required>
							</div>
							
							<div class="form-group">
								<label for="stdDeviationLimit">Standard Deviation Limit</label>
								 <input type="number" class="form-control" id="stdDeviationLimit" placeholder="10 Mb" ng-model="cluster.dfsioOptions.stdDeviationLimit" required>
							</div>
					
						</div>

                </div>
                </div>
            </div>

        </div>
	
		
    </div> <!-- row -->
  
    
</div>
