    <!--<div class="sidebar">
      <ul>
         <li>
            <a ng-href="#/">Overview</a>
         </li>
         <li>
            <a ng-href="#/jobs">Jobs</a>
         </li>
         <li class="active">
            <a ng-href="#/dfsio">DFSIO</a>
         </li>
      </ul>
   </div>-->
<sidebar></sidebar>
   <!-- Demo of Overview page with metrics -->
   <div class="main container-fluid">
      <h1>DFSIO</h1>
      <!-- Top row -->

      <div class="col-md-12">


      <div class="row comparison">
         <div class="panel panel-default" style="height: 200px;">
            <div class="panel-body">
               <h3>Comparison</h3>
               <div class="area">

               </div>
            </div>
         </div>
     </div>
      </div>
       
      <div class="row">
         <div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-body">
                 <div>
                    <h2>{{cluster.name}} <small>2,500 Nodes</small></h2>
                    <h2><small>{{cluster.ipAddress}}</small></h2>

                    <a href="" class="btn btn-primary slide-tog">Compare</a>
                    <div class="action-area pull-right">

                       <div ng-form name="benchmarkForm" class="form-inline">
                          <div class="form-group">
                             <label>Type</label>
                             <select class="form-control" ng-model="form.type">
                                <option>Read</option>
                                <option>Write</option>
                            </select>
                           </div>

                          <div class="form-group">
                           <label for="nrFiles"># Files</label>
                           <input type="number" class="form-control" id="nrFiles" placeholder="10" ng-model="form.nrFiles" required min="1">
                         </div>

                         <div class="form-group">
                          <label for="fileSize">File Size (Mb)</label>
                          <input type="number" class="form-control" id="fileSize" placeholder="100" ng-model="form.fileSize" required min="1">
                        </div>
   
                           <a ng-click="runDFSIOBenchmark()" class="btn btn-primary">Run Benchmark</a>
                       </div>

                    </div>

                 </div>
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Type</th>
                              <th>Date</th>
                              <th># Files</th>
                              <th>File Size (Mb)</th>
                              <th>Throughput</th>
                              <th>Avg I/O Rate</th>
                              <th>I/O Rate Std Deviation</th>
                              <th>Total Time</th>
                          </tr>
                      </thead>

                      <tbody>

                          <tr ng-class="{ danger: isAlert(result) }" ng-repeat="result in results">
                              <td>{{result.type}}</td>
                              <td>{{result.date}}</td>
                              <td>{{result.nrFiles}}</td>
                              <td>{{result.totalMb}}</td>
                              <td>{{result.throughputMb}}</td>
                              <td>{{result.avgIORate}}</td>
                              <td>{{result.stdDeviation}}</td>
                              <td>{{result.totalTime}}</td>
                              <td>
                                  <a ng-click="deleteBenchmark($index, result)" class="btn btn-danger">Delete</a>

                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>


            </div>

         </div>

      </div> <!-- row -->
   </div>



   <!-- JS -->
   <script>

      var comparelist = [];

      $('.slide-tog').click(function(e) {
         $('.comparison').slideToggle();
         e.preventDefault();
      })

      $('tbody tr').click(function(e) {
         var data = $(this).attr("data-val");
         var id = $(this).attr("data-id");

         var item  = {
            id: id,
            value: data
         }

         if(!contains(item, comparelist)) {
            console.log("adding");
            comparelist.push(item);
            renderList(comparelist);
         } else {
            for(var i = 0; i < comparelist.length; i ++) {
               if(comparelist[i].id == item.id ) {
                  console.log("removing");
                  comparelist.splice(i, 1);
                  renderList(comparelist);
               }
            }
         }

         function contains(item, list) {

            for(var i = 0; i < comparelist.length; i ++) {
               if(comparelist[i].id == item.id ) {
                  return true;
               }
               else {
                  return false;
               }
            }
         }

         // Render list
         function renderList(list) {

            $.each(list, function(i, item) {
               $('.area').append('<div>'+ item.value + '</div>')
            });
         }

         console.log(data);
      })
   </script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


