<sidebar></sidebar>

<!-- Demo of Overview page with metrics -->
<div class="main container-fluid">
    <h1>Jobs</h1>
    <!-- Top row -->

    <div class="col-md-12">

        <div class="row comparison">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Comparison</h3>
                   <div>  	
						<ul>
							<li ng-repeat="job in jobComparison">{{job.id}}</li>
						</ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{cluster.name}} </h2>
                    <h2><small>{{cluster.ipAddress}}</small></h2>
                </div>

				<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Name</th>
                            <th>Queue</th>
                            <th>State</th>
                            <th>Final Status</th>
                            <th>Progress</th>
                            <th>Started Time</th>
                            <th>Finished Time</th>
                            <th>Elapsed Time</th>
                        </tr>
                    </thead>

                    <tbody>
		
                        <tr ng-class="{ info: isStarted(job), danger: hasFailed(job) }" ng-repeat="job in jobs | orderBy:'startedTime':reverse" ng-click="addJobToComparison($index, job)">
                            <td>{{job.id}}</td>
                            <td>{{job.user}}</td>
                            <td>{{job.name}}</td>
                            <td>{{job.queue}}</td>
                            <td>{{job.state}}</td>
                            <td>{{job.finalStatus}}</td>
                            <td>{{job.progress}}%</td>
                            <td>{{job.startedTime | date:'HH:mm:ss EEE dd MMM yyyy'}}</td>
                            <td>{{job.finishedTime | date:'HH:mm:ss EEE dd MMM yyyy'}}</td>
                            <td>{{(job.elapsedTime / 1000)}}s</td>
                        </tr>

                    </tbody>
                </table>
                </div>
                <p class="centre" ng-show="!jobs.length">No jobs to display</p>
            </div>

        </div>

    </div> <!-- row -->
</div>



<!-- JS -->
<script>

    var comparelist = [];

    $('.slide-tog').click(function (e) {
        $('.comparison').slideToggle();
        e.preventDefault();
    })

    $('tbody tr').click(function (e) {
        var data = $(this).attr("data-val");
        var id = $(this).attr("data-id");

        var item = {
            id: id,
            value: data
        }

        if (!contains(item, comparelist)) {
            console.log("adding");
            comparelist.push(item);
            renderList(comparelist);
        } else {
            for (var i = 0; i < comparelist.length; i++) {
                if (comparelist[i].id == item.id) {
                    console.log("removing");
                    comparelist.splice(i, 1);
                    renderList(comparelist);
                }
            }
        }

        function contains(item, list) {

            for (var i = 0; i < comparelist.length; i++) {
                if (comparelist[i].id == item.id) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }

        // Render list
        function renderList(list) {

            $.each(list, function (i, item) {
                $('.area').append('<div>' + item.value + '</div>')
            });
        }

        console.log(data);
    })
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


