<sidebar></sidebar>

<!-- Demo of Overview page with metrics -->
<div class="main container-fluid">
    <h1>Cluster Overview</h1>

	<!--  Dynamic layout container -->
		<div class="row" ng-repeat="row in cluster.layout.rows">
			
			<div ng-repeat="col in row.cols" class="col-md-4">
				<div class="panel panel-default">
					<div class="meter" ng-style="{backgroundColor: getMetricColour(processMetric(col.metric, col.currentValue)), width: setWidth(processMetric(col.metric, col.currentValue), col.metric.maxValue)}"></div>
	                <div class="panel-body">
	                    <div class="pull-left">
	                    	<h3>{{col.metric.name}}</h3>
		                    <h1>{{ processMetric(col.metric, col.currentValue) | number:0 }} {{col.metric.unit}}</h1>
		                </div>
		                <div class="pull-right">
		                	<i ng-class="getCarat(col.currentValue, col.previousValue)"></i>
		                    <h3>{{ processMetric(col.metric, col.previousValue) | number:0 }} {{col.metric.unit}}</h3>
		                </div>
	                </div>
				</div>
			</div>
		</div>
	
	
    <!-- Top row -->
    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <h2>{{cluster.name}}</h2>
                        <h2><small>{{cluster.ipAddress}}</small></h2>
                        <div class="action-area pull-right">
                            <a href="" class="btn btn-danger pull-right" ng-click="deleteCluster(cluster)"><i class="fa fa-trash"> </i> Delete</a>
                            <a ng-href="#/configure/{{cluster.id}}" class="btn btn-primary pull-right"><i class="fa fa-cogs"> </i> Configure</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Recent DFSIO Benchmarks</h3>
              <div>
               <canvas id="line" class="chart chart-line" chart-data="dfsioData"
				  	chart-labels="dfsioLabels"
				  	chart-click="onClick" >
				</canvas> 
              </div>
              </div> 
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">
                <h3>Recent MRBench Benchmarks</h3>
              <div>
               <canvas id="line" class="chart chart-line" chart-data="mrbenchData"
				  	chart-labels="mrbenchLabels"
				  	chart-click="onClick" >
				</canvas> 
              </div>
              </div> 
            </div>

        </div>
    </div> <!-- row -->

    <h2>JVM Metrics</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
				<div class="meter" ng-style="{backgroundColor: getMetricColour(metrics[0].MemHeapUsedMem), width: setWidth(metrics[0].MemHeapUsedM, metrics[0].MemHeapMaxM)}"></div>
                <div class="panel-body">
                    <div class="pull-left">
                    	<h3>Heap Usage</h3>
	                    <h1>{{metrics[0].MemHeapUsedM | number:2}} Mb</h1>
	                </div>
	                <div class="pull-right">
	                	<i ng-class="getCarat(metrics[0].MemHeapUsedM, prevMetrics[0].MemHeapUsedM)"></i>
	                    <h3>{{prevMetrics[0].MemHeapUsedM | number:2}} Mb</h3>
	                </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
            	<div class="meter" ng-style="{backgroundColor: getMetricColour((metrics[5].SystemLoadAverage * 100)), width: setWidth((metrics[5].SystemLoadAverage * 100), 100)}"></div>
                <div class="panel-body">
                    <div class="pull-left">
                    	<h3>CPU Load</h3>
	                    <h1>{{metrics[5].SystemLoadAverage * 100 | number:0}} %</h1>
	                </div>
	                <div class="pull-right">
	                	<i ng-class="getCarat(metrics[5].SystemLoadAverage, prevMetrics[5].SystemLoadAverage)"></i>
	                    <h3>{{(prevMetrics[5].SystemLoadAverage  * 100 | number:0 )}} %</h3>
	                </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
            <div class="meter" ng-style="{backgroundColor: getMetricColour(metrics[26].NumOpenConnections * 10), width: setWidth(metrics[26].NumOpenConnections, 10)}"></div>
                <div class="panel-body">
					<div class="pull-left">
                    	<h3>Open Connections</h3>
	                    <h1>{{metrics[26].NumOpenConnections}} </h1>
	                </div>
	                <div class="pull-right">
	                	<i ng-class="getCarat(metrics[26].NumOpenConnections, prevMetrics[26].NumOpenConnections)"></i>
	                    <h3>{{prevMetrics[26].NumOpenConnections}} </h3>
	                </div>
                </div>

                
            </div>
        </div>

    </div> <!-- row -->

    <h2>Hadoop Metrics</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Block Replication</h3>
                    <div>
					<canvas id="doughnut" class="chart chart-doughnut" chart-data="blockData"
					  	chart-labels="blockLabels">
				</canvas> 
                    </div>
                </div>
            </div>
        </div> <!-- col-md-4 -->
        
                <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Storage</h3>
                    <div>
			            <canvas id="doughnut" class="chart chart-doughnut"
						  chart-data="dataStorage" chart-labels="storageLabels">
						</canvas> 
                    </div>
                </div>
            </div>
        </div> <!-- col-md-4 --->

    </div> <!-- row -->

    <h2>Logs</h2>
    <div class="row">
        	    	
    	<div class="col-md-12">
    		<h3>Namenode Log</h3>
            <div class="panel panel-default">
				<div class="form-group">				  
				  	<textarea id="namenode-log" class="text-area form-control" rows="10">{{namenodelogTail}}</textarea>
				</div>            
                <div class="panel-body">                                	
					<a class="btn btn-primary pull-right" href="cluster/log/namenode/{{cluster.id}}">Namenode Log Full</a>
			   </div>
			   
            </div>    		
    	
    	</div>
		
    </div>
    
    <div class="row">
        	<div class="col-md-12">
    		<h3>Datanode Log</h3>
            <div class="panel panel-default">
				<div class="form-group">				  
				  	<textarea id="datanode-log" class="form-control" rows="10">{{datanodelogTail}}</textarea>
				</div>
                <div class="panel-body">                

					<a class="btn btn-primary pull-right" href="cluster/log/datanode/{{cluster.id}}">Datanode Log Full</a>
			   </div>
			   
            </div>    		
    	
    	</div>
    </div>
	
</div>