<sidebar></sidebar>

<!-- Demo of Overview page with metrics -->
<div class="main container-fluid">
	<h1>Rules</h1>
	<!-- Top row -->

	<div class="row">

		<div class="col-md-12">

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<h2>{{cluster.name}}</h2>
							<h2>
								<small>{{cluster.ipAddress}}</small>
							</h2>
							<h2>
								<small>{{cluster.username}}</small>
							</h2>
						</div>
					</div>

					<!-- draggable metrics  -->
					<h3>Metrics</h3>
					<div class="row">
						<div class="col-md-12">

							<div class="metrics-area">
								<span ng-repeat="metric in metrics" data-key="{{metric.key}}" class="badge metric-item" draggable="true" ondragstart="drag(event)">{{metric.name}}</span>								
							</div>
							
							<hr/>
							<h3>Add Rule</h3>
							<div class="createArea ">
								
								<p>If</p>

								<input type="text" class="form-control metric"
									ondrop="drop(event)" ondragover="allowDrop(event)"
									placeholder="drop metric here" ng-model="rule.name" disabled>
									
								<input type="text" class="metrics-key" ng-model="rule.metric"">	

								<p>is</p>

								<select class="form-control" ng-model="rule.operator" required>
									<option selected>Equals to</option>
									<option>Greater than</option>
									<option>Less than</option>
									<option>Not Equals</option>
								</select>
								
								<p>value</p>
								<input type="number" class="form-control value" ng-model="rule.value" required>								
								
								<p>then</p>
								
								<select class="form-control" ng-model="rule.action" required>
									<option>Email</option>
									<option selected>No Action</option>									
								</select>
								
								<a href="" class="btn btn-primary" ng-click="addRule(rule)">Add Rule</a>
							</div>
						
						</div>
					</div>
				</div>

			</div>
		</div>


	</div>
	
	<div class="row">
		
		<div class="col-md-12">		
			<div class="panel panel-default">
			<div class="table-responsive">
				<table class="table table-hover">
						<thead>
							<tr>
								<th>Metric</th>
								<th>Name</th>
								<th>Operator</th>
								<th>Value</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr class="rule" ng-repeat="rule in rules">
								<td>{{rule.metric}}</td>
								<td>{{rule.name}}</td>
								<td>{{rule.operator}}</td>
								<td>{{rule.value}}</td>								
								<td>{{rule.action}}</td>
								<td><a class="btn btn-danger btn-xs pull-right" ng-href="" ng-click="deleteRule(rule)">Delete Rule <i class="fa fa-trash"> </i></a></td>
							</tr>
							
						</tbody>

					</table>
					</div>
			</div>
		</div>
	
	</div>


</div>
<!-- row -->


<style>
.metrics-area {
	margin-bottom: 10px;
}

.dropArea {
	display: inline;
	border: 1px solid black;
	width: 100px;
}

.createArea {
	text-align: center;
}

.createArea p, select {
	display: inline !important;
}

.createArea select {
	width: 130px;
}

.metric, .value {	
	width: 180px;
	margin: 5px;
	display: inline-block !important;
}

.metric-item {
	margin: 3px;
	background-color: #337ab7;
}

.metrics-key {
	display: none;
}


</style>

<script>
	
	function allowDrop(ev) {
		ev.preventDefault();
	}
	
	function drag(ev) {
		console.log("Dragging");
		var elem = $(ev.target);
		var key = elem.data("key");
	
		//Send over metric
		ev.dataTransfer.setData("element", elem.text());
		ev.dataTransfer.setData("key", key);
	}
	
	function drop(ev) {
		ev.preventDefault();
		console.log("Dropping");		
		// Grab metric
		var data = ev.dataTransfer.getData("element");
		var key = ev.dataTransfer.getData("key");
		console.log("KEY DROP: " + key);
		
		$(ev.target).val(data);
		$('.metrics-key').val(key);
		
		// update for angular
		$(ev.target).trigger('input');
		$('.metrics-key').trigger('input');
		console.log(data);
	}

</script>